/* contact.css */
.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: linear-gradient(135deg, #1e3c72 0%, #2a5298 50%, #f5af19 100%);
  }
  
  .contactCard {
    background: linear-gradient(135deg, #a1c4fd 0%, #c2e9fb 100%);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .contactCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .contactName {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .contactDepartment {
    font-size: 1.2em;
    color: #341515;
    margin-bottom: 10px;
  }
  
  .contactEmail {
    display: block;
    font-size: 1em;
    color: #2d0769;
    background-color: #e0e0e0;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .contactEmail:hover {
    background-color: #342929;
    color: white;
  }
  
  .contactLink {
    font-size: 1em;
    color: #ffffff;
    background-color: #0077b5;
    
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .contactLink:hover {
    background-color: #005582;
  }
  
  @media (max-width: 600px) {
    .contactCard {
      width: 100%;
      margin: 10px 0;
    }
  }
  