.register  {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*  background: url("C:\Users\ASUS\Desktop\Discussion App\discuss-app\public\login.jpg");*/
    background-color: rgb(132, 148, 153);
    background-size: cover;
}

.registerContainer {
    background-color: rgb(213, 188, 202);
    padding: 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 1px solid #d1c4c4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerTitle {
    font-size: 50px;
}

.registerForm  {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.registerForm > label  {
    margin: 10px 0;
}

.registerInput {
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    width: 100%;
}

.registerSubmit  {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.registerSubmit:hover  {
    background-color: rgb(126, 101, 41);
    color: white;
}

.registerLoginSubmit  {
    position: absolute;
    top: 80px;
    right: 40px;
    background-color: rgb(126, 101, 41);
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    width: 100px;
}

.registerLoginSubmit:hover {
    background-color: rgb(46, 36, 45);
}