.register  {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("C:\Users\ASUS\Desktop\Discussion App\discuss-app\public\login.jpg");
    background-size: cover;
}

.registerContainer {
    background-color: transparent;
    padding: 50px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border: 1px solid #d1c4c4; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerTitle {
    font-size: 50px;
}

.registerForm  {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.registerForm > label  {
    margin: 10px 0;
}

.registerInput {
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    width: 100%;
}

.registerSubmit  {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.registerSubmit:hover  {
    background-color: rgb(126, 101, 41);
    color: white;
}

.registerLoginSubmit  {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.registerLoginSubmit:hover {
    background-color: rgb(71, 57, 57);
}