.login  {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("C:\Users\ASUS\Desktop\Discussion App\discuss-app\public\login.jpg");
    background-size: cover;
}


.loginContainer {
    background-color: rgba(44, 255, 241, 0.9);
    padding: 50px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border: 1px solid #d1c4c4; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginTitle {
    font-size: 50px;
}

.loginForm  {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm > label  {
    margin: 10px 0;
}

.loginInput {
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    width: 100%;
}

.loginSubmit  {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}



.loginSubmit:disabled {
    cursor: not-allowed;
    background-color: rgb(194, 65, 18);
}

.loginRegisterSubmit  {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.loginRegisterSubmit:hover {
    background-color: rgb(149, 190, 205);
    color: rgb(41, 34, 34);
}