.sidebar {
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #ced5de;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border: 2px solid  teal;
    
  }
  
  .sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #dfb6e3 0%, #f4e0e2 100%);
    padding: 20px; /* Added padding to create space */
  }
  
  .sidebarTitle {
    margin: 10px;
    padding: 5px;
    width: 100%; /* Adjusted to 100% to fit within .sidebarItem */
    max-width: 200px; /* Example maximum width for responsiveness */
    border-top: 2px solid #190606;
    border-bottom: 2px solid #1f0606;
    font-family: 'Vareia Round', sans-serif;
    font-size: 16px; /* Increased font size for better visibility */
    color: #222;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
  }
  
  .sidebarImg {
    margin-top: 15px;
    width: 70%;
    height: auto;
    float: right;
    margin-left: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
  }
  
  .sidebarItem p {
    margin: 20px;
    padding: 20px;
    margin-top: -15px;
    color: black;
  }
  