.sidebar {
  width: 300px; 
  margin: 20px;
  padding: 15px; 
  background-color: #5687c7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid teal;
  height: 610px;
  box-sizing: border-box; 
}
  
  .sidebarItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #dfb6e3 0%, #f4e0e2 100%);
    padding: 20px; 
    width: 100%; 
    box-sizing: border-box; 

  }
  
  .sidebarTitle {
    margin: 10px;
    padding: 5px;
    width: 100%; 
    max-width: 200px;
    border-top: 2px solid #190606;
    border-bottom: 2px solid #1f0606;
    font-family: 'Vareia Round', sans-serif;
    font-size: 16px; 
    color: #222;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
  }
  
  .sidebarImg {
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin: 10px 0;
}
  
.sidebarItem p {

  margin: 0; 
  padding: 10px; 
  color: #333; 
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  box-sizing: border-box;
}
  